{% extends 'base.html'%} {%block title%} Student Manage System • Login
{%endblock%} {%block content%}
<div class="container">
  <div class="login">
    <form class="login-form" action="#" method="post">
      <h3 class="login-title">STUDENT MANAGEMENT SYSTEM</h3>
      <img
        class="icon-image"
        src="{{url_for('static', filename='/images/icon.png')}}"
        alt="icon"
      />
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email</label>
        <input
          name="email"
          type="email"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="name@example.com"
        />
      </div>

      <div class="mb-3">
        <label for="exampleFormControlInput2" class="form-label"
          >Password</label
        >
        <input
          name="password"
          type="password"
          class="form-control"
          id="exampleFormControlInput2"
          placeholder="password"
        />
      </div>

      {%if ctx.error %}
      <div class="alert alert-danger d-flex align-items-center" role="alert">
        {{ctx.error}}
      </div>
      {%endif%}
      <a href="{{url_for('forgot_password')}}" class="forgot-password-link"
        >Forgot password?</a
      >
      <button type="submit" class="btn btn-primary">LOGIN</button>
      <br />
      <div class="mb-3">
        <h5>New to SMS?</h5>
      </div>
      <button type="button" class="btn btn-secondary">
        <a href="/auth/register">REGISTER</a>
      </button>
    </form>
  </div>
</div>

{%endblock%}
